*{
    color: rgb(0, 0, 0);
    /*se vuelve  mas legible en tema de acecivilidad*/
    font-size: rem;
}
a{  
    margin-top: 20px;
    padding: 10px;
    /*quoitar linea de enlace debajo de el link */
    text-decoration:none ;
    /*color de fondo en el link */
    background-color: hwb(273 24% 52%);
}
a :hover{ 
    border: 5px dotted hwb(69 10% 7%);
    background-color: rgb(19, 14, 90);

         
}
          
h2{ 
    /*APLICAR ESTILOS A ETIQUETAS*/
    color:rgb(5, 255, 201) ;
}
.titulo{
    /*COLOR DE TEXTO*/
    color: rgb(162, 0, 255);
    /*TIPO DE FUENTE*/
    font-family: Arial, Helvetica, sans-serif;
    /*ESTILO DE ETIQUETA*/
    font-style: italic;
    /*ALINEACION DE TEXTO*/
    text-align: center;
}
.subtitulo{

    color: rgb(7, 250, 169);
}
div{
    /*PARA CENTRAR TITULO O TEXTO*/
    margin: 0 auto;
    /*FONDO DE TEXTO*/
    background-color: rgb(167, 128, 204);
    /*ANCHO DE ALGO*/
    width: 300px;
    /*MARGEN INTERNA DEL CONTENIDO Y EL CONTENEDOR*/
    padding: 10px;
    /*JUSTIFICAR TEXTO*/
    text-align: justify;
    /*BORDE*/    
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: blueviolet;
    /*permite asignar la póscion de la sombra*/
    box-shadow: 5px 12px  #1e80ff


}   


small {
    font-size: 0.67rem;
}
table{
    width:100% ;
    border:3px dotted #8146b1;
    box-shadow:10px 10px 5px 0px #1e80ff;

}
table , td ,th{
    border:  1px solid black ;
}
   

table, th{
    border: 1px solid rgb(0, 255, 149);
}
tr  :hover {




    
    background-color: rgb(48, 178, 201);
}
table tr:nth-child(odd) {
   background : #ae62bd;
}
table tr :nth-child(even) {
   background:  #8146b1;        
}

table, th, td {
    border: 1px solid black ;
    border-collapse: collapse;
}